/*.alert {
    width: 50%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 24%;
    border: 1px solid;
    font-family: Roboto, serif;
    background-color: black;
    color: white;
    text-align: center;
}

.alertSuccess {
    color: #a7caaf;
    background-color: #0b4705;
    border-color: #a7caaf;
}

.alertError {
    color: #f8f4dc;
    background-color: #c4b000;
    border-color: #7a7200;
}*/