.footerMenu {
    height: 2%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 6%;
    font-family: "Roboto", serif;
}

.shoppingcartEmpty {
    margin-top: 20%;
}

.footerTable {
    display: table;
    margin: auto;
}

.footerTable ul {
    list-style: none;
}

.footerTable ul li {
    display: inline;
    padding: 30px;
}

.footerTable ul li a {
    text-decoration: none;
    color: black;
}