.footerMenu {
    height: 5%;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex
}

.footerTable {
    margin: auto;
}

.footerTable ul {
    list-style: none;
}

.footerTable ul li {
    display: inline;
    padding: 30px;
}

.footerTable ul li a {
    text-decoration: none;
    color: black;
}