
.imprint, .documentation{
    background: #EAE7E0;
    display: unset;
    box-sizing: unset;
    position: unset;
    padding-left: 50px;
    font-family: "Roboto", serif;
}

.documentation ul{
    list-style-type: circle;
}

.documentation td,th{
    border: 1px solid #8e8e8e;
    text-align: left;
    padding: 8px;
}

.documentation tr:nth-child(even) {
    background-color: #dddddd;
}