
.imprint, .documentation{
    background: #EAE7E0;
    display: unset;
    box-sizing: unset;
    position: unset;
    padding-left: 50px;
    font-family: "Roboto", serif;
}

.documentation ul{
    list-style-type: circle;
}