.productList {
    width: 100%;
    float: right;
}

.column {
    float: left;
    width: 28%;
    padding: 0.5%;
    margin: 0.5%;
}

.prodInfo {
    font-size: 21px;
    padding: 0;
    margin-top: 0.3em;
}

@media screen and (max-width: 900px) {
    .column {
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    padding: 0;
    text-align: center;
}

.card img {
    width: 18em;
    padding-top: 4%;
    margin: 0;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.btn {
    background-color: rgb(73, 73, 73);
    color: #EAE8DE;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: 17px;
    padding: 4px 0px 4px;
    margin: 1em 0em;
}