div.register {
    width: 45%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Roboto", serif;
}

.register img {
    width: 15%;
    margin: -8% 42.5% 2%;
}

.standardForm {
    border-radius: 2px;
    color: rgb(105, 221, 231);
    font-size: 21px;
    background-color: #be4945;
}

#kontoErstellenlink {
    color: rgb(105, 221, 231);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 10%;
}

a#kontoErstellenlink:hover {
    font-size: 25px;
}

fieldset {
    border-radius: 2px;
    border: solid 3px #96C1C5;
    font-weight: bold;
    margin: 2.5% 10%;
}

.standardForm input,
textarea {
    border-radius: 2px;
    width: 100%;
    background-color: #EAE8DE;
    border: solid 1px #96C1C5;
    color: #96C1C5;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 27px;
}

input[type="checkbox"] {
    width: 20px;
    height: 18px;
    margin-left: 10%;
    padding: 20px 30x;
}

div figcaption {
    text-align: center;
    margin-top: 1%;
    font-size: 35px;
}

.standardForm input[type="submit"] {
    background-color: #96C1C5;
    color: rgb(224, 87, 87);
    font-size: 21px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin: 4% 10%;
}

.errorinput {
    position: relative;
}

.errorinput input {
    border: 3px solid green !important;
}

.errorinput::after {
    content: '!';
    color: #be4945;
    position: absolute;
    cursor: pointer;
    right: 10px;
    bottom: 8px;
}

.error-message {
    border-radius: 2px;
    position: absolute;
    background: #96C1C5;
    color: white;
    left: 0px;
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    border: 1px solid #96C1C5;
    z-index: 1;
}

.errorinput:hover .error-message {
    display: block;
}

@media screen and (max-width: 1288px) {
    div.register {
        width: 65%;
        margin-top: 4em;
    }
    div figcaption {
        font-size: 28px;
    }
    .register img {
        width: 15%;
        margin: -8% 42.5% 2%;
    }
    .standardForm {
        font-size: 18px;
    }
    #kontoErstellenlink {
        font-size: 18px;
        margin-right: 10%;
    }
}