.searchButton {
    background: none;
    padding: 0px;
    border: none;
}

.searchInput {
    padding: 3px;
    background-color: rgba(234, 232, 218, 0.1);
    font-size: 23px;
    border: none;
    border-bottom: 2px #C38D8A solid;
}

div.search {
    float: right;
    text-align: left;
    padding: 0px;
    width: 23%;
    margin: 0.6% 0.5% 2%;
}

.searchIcon {
    padding: 0;
    width: 30px;
    height: 30px;
    float: right;
}