.navbar {
    border-top: 2px solid rgba(208, 200, 200, 0.63);
    border-bottom: 2px solid rgba(208, 200, 200, 0.63);
    padding: 0.5em 0em 0.5em;
    margin: 0em 1em;
}

div.shoppingcart {
    padding-top: 1.5em;
    margin: 2% 10%;
    color: rgb(134, 14, 10);
    background-color: rgba(208, 200, 200, 0.89);
    border-radius: 5px;
}

.Titl {
    font-size: 23px;
    text-align: left;
    margin: 0.5em 0em 1em;
    color: rgb(73, 73, 73);
    padding-left: 1em;
}

table img {
    margin: 0;
    width: 5em;
    padding-left: 1em;
}

td {
    width: 9em;
    font-size: 18px;
}

.prodTitl {
    padding-left: 1em;
    text-align: left;
}

.prod {
    padding-left: 1em;
    text-align: left;
}

td {
    text-align: center;
}

.prodName {
    text-align: left;
    padding-left: 0.5em;
}

div.seprator {
    border-bottom: 2px solid gray;
    margin: 0.5em 1em;
}

.summe {
    margin-left: 60%;
    margin-right: 3%;
    padding: 2em 0em 2em;
    font-size: 18px;
    text-align: right;
    padding-right: 3.5em;
}

.gesamt {
    border-top: 3px solid gray;
    padding-top: 0.7em;
    font-size: 23px;
    text-align: left;
}

.anzahl {
    padding-bottom: 0.7em;
    padding-right: 80%;
}

.test {
    margin-right: 5em;
}