.navbar {
    margin: 1em 0em;
}

div.shoppingcart {
    padding-top: 1.5em;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    color: rgb(134, 14, 10);
    background-color: #D9C7C1;
    border-radius: 5px;
}

.Titl {
    font-size: 23px;
    text-align: left;
    margin: 0.5em 0em 1em;
    color: rgb(73, 73, 73);
    padding-left: 1em;
}

table img {
    margin: 0;
    width: 5em;
    padding-left: 1em;
}

td {
    width: 20%;
    font-size: 18px;
}

.prodTitl {
    padding-left: 1em;
    text-align: left;
}

.prod {
    padding-left: 1em;
    text-align: left;
}

td {
    text-align: center;
}

.prodName {
    text-align: left;
    padding-left: 0.5em;
}

div.seprator {
    border-bottom: 2px solid gray;
    margin: 0.5em 1em;
}

.summe {
    margin-left: 60%;
    margin-right: 3%;
    padding: 1.5em 0em 1.5em;
    font-size: 18px;
    text-align: right;
    padding-right: 3.5em;
}

.gesamt {
    border-top: 3px solid gray;
    padding-top: 0.7em;
    font-size: 23px;
    text-align: left;
}

.anzahl {
    padding-bottom: 0.7em;
    padding-right: 70%;
}

.shoppingcartTable {
    margin-right: 6em;
}