.contentCon {
    display: block;
    margin-top: 2em;
}

.navbar {
    margin: 1em 0em;
}

div.shoppingcart {
    padding-top: 1.5em;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    color: rgb(134, 14, 10);
    background-color: #D9C7C1;
    border-radius: 5px;
    font-family: "Roboto", serif;
}

.shoppingCartTitel {
    font-size: 23px;
    text-align: left;
    margin: 0.5em 0em 1em;
    color: rgb(73, 73, 73);
    padding-left: 1em;
}

table img {
    margin: 0;
    width: 5em;
    padding-left: 1em;
}

td {
    width: 20%;
    font-size: 18px;
}

.prodTitel {
    padding-left: 1em;
    text-align: left;
}

.prod {
    padding-left: 1em;
    text-align: left;
}

td {
    text-align: center;
}

.prodName {
    text-align: left;
    padding-left: 0.5em;
}

div.seperator {
    border-bottom: 2px solid gray;
    margin: 0.5em 1em;
}

.shoppingCartSum {
    margin-left: 60%;
    margin-right: 3%;
    padding: 1.5em 0em 3em;
    font-size: 18px;
    text-align: right;
    padding-right: 3.5em;
}

.sum {
    border-top: 3px solid gray;
    padding-top: 0.7em;
    font-size: 23px;
    text-align: left;
}

.amount {
    padding-bottom: 0.7em;
    padding-right: 70%;
}

.shoppingcartTable {
    margin-right: 6em;
}

.btn {
    background-color: rgb(73, 73, 73);
    color: #EAE8DE;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: 14px;
    padding: 4px 0px 4px;
    margin: 1em 0em;
    font-family: "KGILikeToMoveIt";
}

.checkout {
    background-color: rgb(73, 73, 73);
    font-size: 21px;
    padding: 1em 0em;
    font-family: "KGILikeToMoveIt";
    margin-left: 80%;
    width: 10%;
    text-align: center;
}

.checkout a {
    text-decoration: none;
    color: #EAE8DE;
}

.freeSpace {
    float: right;
}

#errorMessage {
    border-radius: 2px;
    position: relative;
    background: #be4945;
    color: white;
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    display: none;
    border: 1px solid #96C1C5;
}

@media screen and (max-width: 1288px) {
    .contentCon {
        margin-top: 4em;
    }
    div.shoppingcart {
        padding-top: 2em;
        width: 85%;
    }
    .shoppingcartTable {
        margin-right: 3em;
    }
    .shoppingCartSum {
        font-size: 18px;
    }
    .sum {
        padding-left: 10px;
        font-size: 18px;
    }
    .btn {
        width: 70%;
        font-size: 12px;
        padding: 4px 0px 4px;
        margin: 1em 0em;
    }
}