.sidenav {
    font-family: "KGILikeToMoveIt";
    float: left;
    height: 100%;
    width: 17EM;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 0em;
}

.sidenav a {
    padding: 12px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(73, 73, 73);
    display: block;
}

.sidenav a:hover {
    color: #90B3B6;
}

.overCat a {
    margin-left: 8px;
    padding-bottom: 3px;
    font-size: 23px;
    border-bottom: 2px solid rgb(195, 123, 121);
}

.overCat a:hover {
    color: rgb(108, 182, 189);
}

.colorBoy a {
    color: rgb(134, 14, 10);
}

.colorGirl a {
    color: #f1ac2c;
}

.colorConsole a {
    color: #2dc2cf;
}

.colorFilter a {
    color: rgb(231, 90, 182);
}

@media screen and (max-width: 1288px) {
    .sidenav {
        width: 8EM;
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 13px;
        padding: 5px;
    }
    .overCat a {
        margin-left: 5px;
        padding-bottom: 3px;
        font-size: 15px;
        border-bottom: 2px solid rgb(195, 123, 121);
    }
}