.sidenav {
    float: left;
    height: 100%;
    width: 200px;
    background-color: red;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 0em;
}

.sidenav a {
    padding: 12px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}