    .navbar {
        display: flex;
    }
    
    .subnav {
        width: 25%;
        font-size: 23px;
    }
    
    .width {
        width: 30%;
        border-radius: 5px;
        text-align: center;
    }
    
    .paddLeft {
        padding-left: 15%;
    }
    
    .subnav .subnavbtn {
        color: #E9BA65;
        text-decoration: none;
    }
    
    .topNavBoy {
        color: #6cb6bd;
    }
    
    .topNavConsole {
        color: #e9ba65;
    }
    
    .topNavGirl {
        color: #be4945;
    }
    
    .topNavAbout {
        color: #90B3B6;
    }
    
    .subnavbtn img {
        display: block;
        width: 60px;
        margin: 0;
        padding-left: 0.8em;
    }
    
    .activeBoy {
        font-size: 25px;
        box-shadow: 0px 4px 8px 0px rgba(108, 182, 189, 0.7);
    }
    
    .activeGirl {
        font-size: 25px;
        box-shadow: 0px 4px 8px 0px rgba(190, 95, 92, 0.705);
    }
    
    .activeKonsole {
        font-size: 25px;
        box-shadow: 0px 4px 8px 0px #ecb349a8;
    }
    
    .subnav-content {
        display: none;
        width: 100%;
    }
    
    .subnav-content a {
        float: left;
        font-size: 16px;
        text-align: left;
        text-decoration: none;
        padding: 14px 100% 14px 14px;
    }
    
    .subnav-content a:hover {
        text-shadow: 1px 1px 2px rgba(121, 121, 121, 0.67);
    }
    
    .subnav:hover .subnav-content {
        display: block;
    }