    .navbar {
        overflow: visible;
        font-family: "KGILikeToMoveIt";
        margin: auto;
        border-radius: 5px;
    }
    
    .subnav {
        position: relative;
        display: inline-block;
        width: 24.5%;
        font-size: 25px;
        list-style: none;
    }
    
    .subnav .subnavbtn {
        color: #E9BA65;
        text-decoration: none;
    }
    
    .topNavBoy {
        color: #3bc6d3;
        text-align: center;
    }
    
    .topNavConsole {
        color: #f1ac2c;
        text-align: center;
    }
    
    .topNavGirl {
        color: #be4945;
        text-align: center;
    }
    
    .topNavAbout {
        color: rgb(73, 73, 73);
        text-align: center;
    }
    
    .subnavbtn img {
        display: block;
        width: 70px;
        margin: auto;
    }
    
    #girlImage {
        width: 95px;
    }
    
    .activeBoy {
        font-size: 27px;
        background-color: #be4945;
        border-radius: 20px;
    }
    
    .activeGirl {
        font-size: 25px;
        background-color: #f1ac2c;
        border-radius: 20px;
    }
    
    .activeKonsole {
        font-size: 25px;
        background-color: #3bc6d3;
        border-radius: 5px;
    }
    
    .topNavList {
        list-style: none;
    }
    
    .subnav-content {
        display: none;
        background-color: tomato;
        padding: 0;
        width: 100%;
        padding-bottom: 2%;
        position: absolute;
    }
    
    .subnav-content a {
        font-size: 21px;
        text-decoration: none;
        display: block;
        padding-bottom: 1em;
    }
    
    .subnav-content a:hover {
        font-size: 23px;
        display: block;
    }
    
    .subnav:hover .subnav-content {
        display: block;
    }