    .navbar {
        display: flex;
        width: 100%;
        margin: 0;
    }
    
    .subnav {
        width: 25%;
        font-size: 23px;
    }
    
    #test {
        padding-left: 10%;
    }
    
    .subnav .subnavbtn {
        border: none;
        color: #E9BA65;
        background-color: inherit;
        margin: 0;
    }
    
    #topNavBoy {
        color: rgb(108, 182, 189);
    }
    
    #topNavKonsole {
        color: #E9BA65;
    }
    
    #topNavGirl {
        color: rgb(190, 73, 69);
    }
    
    #topNavInfo {
        color: #90B3B6;
    }
    
    .subnav .subnavbtn img {
        display: block;
        width: 60px;
        padding-bottom: 0.5em;
        padding-left: 8px;
    }
    
    .navbar a:hover,
    .subnav:hover .subnavbtn {
        background-color: rgba(183, 88, 91, 0.2);
    }
    
    .subnav-content {
        display: none;
        width: 25%;
    }
    
    .subnav-content a {
        float: left;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .subnav-content a:hover {
        background-color: #eee;
        color: black;
    }
    
    .subnav:hover .subnav-content {
        display: block;
    }