body {
    background-image: url("../images/background.png");
    background-size: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
    display: inline;
}

::placeholder {
    color: #E9BA65;
}

.iamlogo {
    margin-bottom: 2em;
}

div.search {
    float: right;
    text-align: left;
    padding: 0px;
    width: 18%;
    margin: 0.5em 1.5em;
}

#searchIcon {
    margin: 0px 0px -25px;
    padding: 0;
    width: 2em;
    height: 2em;
    float: right;
}

#logoutButton {
    margin-top: 1.8em;
    float: right;
}

#logoutButton input[type="submit"] {
    font-size: 20px;
    width: 100%;
    color: #E9BA65;
    background-color: #EAE8DE;
    border: none;
    display: block;
    cursor: pointer;
}

#logoutButton input[type="submit"]:hover {
    color: rgba(183, 88, 91, 1);
    font-weight: bolder;
}

#suchword {
    padding: 2px;
    padding-top: 0px;
    background-color: rgba(234, 232, 218, 0.1);
    font-size: 23px;
    border: none;
    border-bottom: 2px #C38D8A solid;
}

#logo {
    width: 23em;
    height: 3em;
    margin: 0em 2em;
    float: left;
    padding: 0em;
}

ul.icons img {
    width: 3em;
    height: 3em;
    float: right;
    margin: 1em 0.8em 0em 0.5em;
}

#Warenkorb {
    margin-right: 4em;
}

.center {
    text-align: center;
}

.startseite img {
    width: 25em;
    height: 35em;
    border: 10px solid;
    margin: 5em 1.5em;
}

#jung {
    border-color: #90B3B6;
}

#vater {
    border-color: #E9BA65;
}

#girls {
    border-color: #C38D8B;
}

div.formular {
    width: 45%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

div img {
    width: 15%;
    margin: -8% 42.5% 2%;
}

.iamform {
    border-radius: 5px;
    color: #96C1C5;
    font-size: 18px;
    background-color: rgba(183, 88, 91, 0.17);
}

#kontoErstellenlink {
    color: #96C1C5;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 10%;
}

a#kontoErstellenlink:hover {
    font-size: 22px;
}

fieldset {
    border-radius: 5px;
    border: solid 3px #96C1C5;
    font-weight: bold;
    margin: 2.5% 10%;
}

.iamform input {
    border-radius: 5px;
    width: 100%;
    background-color: #EAE8DE;
    border: solid 1px #96C1C5;
    color: #96C1C5;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 27px;
}

input[type="checkbox"] {
    width: 20px;
    height: 18px;
    margin-left: 10%;
    padding: 20px 30x;
}

div figcaption {
    text-align: center;
    margin-top: 1%;
    font-size: 35px;
}

.iamform input[type="submit"] {
    background-color: #96C1C5;
    color: #EAE8DE;
    font-size: 21px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin: 4% 10%;
}

figure {
    margin: 0;
}

figure.einzel {
    display: inline-block;
    padding: 10px;
    width: 33%;
    border: 1px solid gainsboro;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
}

nav ul li img {
    width: 50px;
}

@media screen and (min-width: 600px) {
    nav ul li img {
        width: 100px;
    }
    nav ul li a {
        font-size: 17px;
    }
}